.signup-form {
  background-color: #E0FFFF;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 25px auto;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.signup-form-title {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: #FF7F50;
  margin-bottom: 20px;
  text-align: center;
}

.signup-form-label {
  display: block;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
}

.signup-form-input {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #BDBDBD; 
  background-color: #FFFFFF; 
  font-size: 16px;
  margin-top: 5px;
}

.signup-form-button {
  background-color: #FF7F50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form-button:hover {
  background-color: #F4A460;
}

.signup-form-error {
  color: #FF7F50;
  font-size: 0.9em;
  margin-top: -10px;
  margin-bottom: 15px;
  text-align: left;
}

@media (max-width: 480px) {
  .signup-form {
    padding: 20px;
    max-width: 300px;
  }

  .signup-form-input {
    font-size: 14px;
  }

  .signup-form-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
